@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.component{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 375px;
    border-radius: 20px;
    padding: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}
.component h1{

    font-weight: 700;
}

.component h2{

    font-weight: 400;
}

.component img{
    width: 100%;
    border-radius: 20px;
}
